canvas{
    width:60%;
    height: 200px
}

img{
    width: 50%;
    display: grid;
}
button{
    height: 4rem;
    width: 4rem;
}
#results-data{
    display: grid;
    width: 100%;
    color: whitesmoke;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 30px;
    border: 20px;
}

    
    
    
